*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
.container{
    height:100vh;
    width:100%;
    overflow-x: none;
}

#navList{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

a{
    text-decoration: none;
    color: rgb(102, 24, 24) ;
}

.navcontainer{
    background-color: #ff6600;
    width: 100%;
    font-size: 1.5rem;
    height: 3.5rem;
    overflow-x: none;
}

#navLogo{
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    color: white;
    margin-right: auto; 
}